{{- $highlight := Style.Foreground (Color "1") -}}
{{- $muted := Style.Foreground (Color "8") -}}
{{ range $date, $events := (SplitByDate . ) }}
{{ $highlight.Render $date }}

{{- range $event := $events }}
{{ $muted.Render "-" }} {{ $event.Name }}
{{ if $event.Description }}  {{ $muted.Render $event.Description }}{{ end }}
{{- end -}}
{{- end }}

